<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Trang Chủ
    </ion-tab-button>
    <ion-tab-button tab="product-page">
      <ion-icon name="storefront-outline"></ion-icon>
      Sản Phẩm
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="people-circle-outline"></ion-icon>
      Liên Hệ
    </ion-tab-button>
    <!-- <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
