<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sản Phẩm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col *ngFor="let item of product" size="6">
      <ion-card>
        <ion-row>
          <ion-img alt="{{item.nameProd}}" src={{item.imgProd}} />
        </ion-row>
        <ion-card-header>
          <ion-label>{{item.nameProd}}</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            <ion-icon name="call-outline"></ion-icon> <strong>Báo giá liên hệ</strong>
          </ion-label>
          <ion-row>
            <ion-col>
              Ms.Như
              <a href="tel:0385390164">
                <ion-button>0385390164</ion-button>
              </a>
            </ion-col>
            <ion-col>
              Ms.Ngọc
              <a href="tel:0978225941">
                <ion-button>0978225941</ion-button>
              </a>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <footer class="footer">
    <div class="footer-content">
      <p>Mọi thông tin liên hệ:</p>
      <p>CÔNG TY TRÁCH NHIỆM HỮU HẠN THIẾT BỊ CÔNG NGHIỆP CNK</p>
      <p>Địa chỉ: 72 Linh Trung, phường Linh Trung, Thành phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam. MST: 0317193833</p>
      <p>EMAIL: cnk.tbcn&#64;gmail.com</p>
      <p>Ms. Nhu | SĐT: 0837529408</p>
    </div>
  </footer>
</ion-content>
